* {
	margin: 0;
	padding:0;
}
body {
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items: center;
	background-color:#252830;
}
span {
font-size: 46px;
color:#fff;
font-family: Arial;
}