body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 50px;
  background: #fff;
  color: #ffffff;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #343a40;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header h3 {
  font-weight: 400;
  color: black;
  margin-left: 15px;
}
.Sign_up {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  text-align: center;
  font-weight: 400;
  margin-right: 15px;
  width: 55px;
  height: 45px;
}
.Sign_up:hover {
  background-color: #007bff;
  color: #fff;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  margin-bottom: 25px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.main_content {
  width: 100%;
  font-weight: 400;
}
.text {
  text-align: center;
}
.text h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: inherit;
  color: inherit;
}
.text p {
  font-size: 1.25rem;
  font-weight: 300;
}
.block {
  width: 220px;
  height: 300px;
}
.blocks {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: auto;
  margin-top: 45px;
}
.block-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  border-bottom: grey 3px solid;
}
@media screen and (min-width: 550px) and (max-width: 800px) {
  ul li {
    margin: 3px;
  }
  ul li:last-child {
    margin-left: 10px;
  }
  .blocks {
    display: flex;
    flex-direction: column;
    margin-left: 175px;
  }
}
