.logo {
  width: 140px;
  padding-left: 200px;
}
body {
  padding: 0;
  margin: 0;
}
.top-menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 200px;
}
.top-menu a {
  text-decoration: none;
  color: #181617;
  margin-right: 30px;
}
.menu {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #fff;
}
.seacrh {
  width: 200px;
  height: 25px;
}
.Main_content {
  width: 545px;
  height: 610px;
  margin: 0 auto;
  margin-top: 50px;
}
.profile {
  width: 545px;
  height: 60px;
  background: #fff;
  border: 1px solid #eaeaea;
}
.profile a {
  text-decoration: none;
  color: #181617;
  margin-right: 30px;
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin-right: 415px;
}
.background {
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.img {
  background: url("./img/vietnam.jpg") center no-repeat / cover;
  width: 545px;
  height: 545px;
  margin: 0 auto;
  margin-top: 25px;
}
.logo-of-your-acc {
  width: 40px;
  border-radius: 50%;
}
.nickname-account {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.nickname-account {
  font-size: 14px;
  font-family: Arial, sans-serif;
}
